<!doctype html>

<html lang="en">
<head>
	<meta charset="utf-8">
    <!-- Tab title -->
	<title>Compare The Brew</title>
	<meta name="description" content="Compare The Brew">
	<meta name="author" content="The Boys">
    <!-- Favicon -->
    <link rel="icon" href="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTzI0uH0_lzecaSuTinKUKNL_W1t72KKq1QWdC8hWGKG71Bue43">
	<link rel="stylesheet" href="/static/css/styles.css">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="/static/js/scripts.js"></script>
	<div id="header">
		<nav role="navigation">
			<div id="menuToggle">
			  <!--
			  Hidden checkbox
			  -->
			  <input type="checkbox" />
			  
			  <!--
			  Some spans to act as a hamburger.
			  Don't remove this u monkey it looks dumb but it works
			  -->
			  <span></span>
			  <span></span>
			  <span></span>
			  
			  <!--
			  Links
			  -->
			  <ul id="menu">
				<a href="/"><li>Home</li></a>
				<a href="/about"><li>About</li></a>
				<a href="/faq"><li>FAQ</li></a>
			  </ul>
			</div>
		  </nav>
	</div>


	<div id="content">
        <!-- <div id="compare-the-brew">
            CompareTheBrew
        </div> -->

		<div id="main">
			<div id="question">
				What drink are you looking for?
			</div>

            <!-- <form method="POST">
                <input name="text">
                <input type="submit">
            </form> -->

			<form method="POST">
                <i id="searchButton" class="material-icons" style="padding:1%;font-size:44px;color:#cda20b;right:0;position:absolute;margin-right:-1%;margin-top:-0.4%;">search</i>
				<input name="searchTerms" id="searchDrink" type="text" placeholder="Search...">
				<span class="underline"></span>
			</form>
			<div class="light">
				Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
			</div>
			<div class="drink-of-the-day">
				<!-- I am aware that adding a br here is sloppy but it is 3AM and I don't care -->
				<br><br>
				<div class="item">	
						<a class="resultCard" href="{{result[6]}}">
							<div class="cardImage">
									<!-- <img src="{{result[-1]}}" style="width:96px;height:120px;"> -->
									<img src="/static/images/drinkimages/{{result[12]}}.webp.webp" alt={{result[2]}} {{result[3]}} style="width:96px;height:120px;">
								</div>
							<div class="cardContent">
								<div class="brand">
									{{result[1]}}
								</div>
								<div>
									<div class="name">
										{{result[2]}} {{result[3]}}
									</div>
								</div>
								<span class="searchLine"></span>
								<div class="indexdetails">
									{{result[7]}}L - {{result[9]}} std. - {{result[8]}}%
								</div>
								<div>
									<div class="scorePriceContainer">
										<div class="score responsive_head">
											{{'%0.0f'| format(result[10] * 100)}}%
											<div class="price">
												${{result[5]}}											
											</div>
										</div>
									</div>
								</div>
							</div>
						</a>
					</div>
			</div>
		</div>
	</div>

	<div id="footer">
		<div id="footerLeft">
			<b>©CompareTheBrew.com.au, 2019. Bhanu is a manlet. This is some placeholder text.
		</div>
		<div id="footerRight">
			Drink responsibly.</b>
		</div>
	</div>
</body>
</html>
