<!doctype html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <!-- Tab title -->
    <title>CompareTheBrew</title>
    <meta name="description" content="CompareTheBrew">
    <meta name="author" content="The Boys">
    <!-- Favicon -->
    <link rel="icon"
          href="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTzI0uH0_lzecaSuTinKUKNL_W1t72KKq1QWdC8hWGKG71Bue43">
    <link rel="stylesheet" href="/static/css/styles.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <script data-ad-client="ca-pub-2690757346374030" async
            src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>

    <!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-155323852-1"></script>
	<script>
  	window.dataLayer = window.dataLayer || [];
  	function gtag(){dataLayer.push(arguments);}
  	gtag('js', new Date());

  	gtag('config', 'UA-155323852-1');
	</script>

</head>

<body>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="/static/js/scripts.js"></script>
<div id="cover"></div>
<div id="header">
    <nav role="navigation">
        <div id="menuToggle">
            <!--
            Hidden checkbox
            -->
            <input id="slide" type="checkbox"/>
            <!--
            Some spans to act as a hamburger.
            Don't remove this u monkey it looks dumb but it works
            -->
            <span></span>
            <span></span>
            <span></span>

            <!--
            Links
            -->
            <ul id="menu">
                <a href="/">
                    <li class="navButton">🏠Home</li>
                </a>
                <a href="/about">
                    <li class="navButton">❓About</li>
                </a>
                <a href="https://www.redbubble.com/people/comparethebrew/shop">
                    <li class="navButton">👕Merch</li>
                </a>
            </ul>
        </div>
    </nav>
    <!-- 		<div id="titleArea">
                <div style="display: block; margin-left: auto; margin-right: auto; width: 25%;">
                    <img src="/static/images/titlecard.svg" style="display: block; margin-left: auto; margin-right: auto; width: 99%">
                </div>
                <div style="display: block; margin-left: auto; margin-right: auto; width: 25%;">
                    <img src="/static/images/mascot1.png" style="display: block; margin-left: auto; margin-right: auto; width: 80%">
                </div>
            </div> -->
    <div id="logo">
		<img src="/static/images/logoname.svg" style>
	</div>
</div>


<div id="content">
    <!-- <div id="compare-the-brew">
        CompareTheBrew
    </div> -->

    <div id="main">
        <div id="question">
            What drink are you looking for?
        </div>

        <!-- <form method="POST">
            <input name="text">
            <input type="submit">
        </form> -->

        <form id="query" method="POST">
            <i id="searchButton" class="material-icons"
               style="padding:1%;font-size:80px;color:#cda20b;right:0;position:absolute;margin-right:-1%;margin-top:1%;cursor:pointer;">search</i>
            <input name="searchTerms" id="searchDrink" type="text" placeholder="Search...">
            <span class="underline"></span>
        </form>
        <div class="light" style="font-size:16px">
            Why waste money when you can <b>CompareTheBrew</b>? Search above to find the best alcohol for your dollar!
        </div>
        <div class="drink-of-the-day">
            <h5>Number 1 Overall Drink</h5>
            <div class="item">
                <a class="resultCard" href="{{ result[6] }}">
                    <div class="cardImage">
                        <!-- <img src="{{result[-1]}}" style="width:96px;height:120px;"> -->
                        <!-- For deployment -->
                        <img src="/static/images/drinkimages/{{ result[12] }}.png"
                             alt={{ result[2] }} {{ result[3] }} style="width:96px;height:120px;">
                        <!-- For testing (uncomment this and comment above to see images when testing code -->
                        <!-- <img src="/static/images/drinkimages/{{result[12]}}.webp.webp.png" alt={{result[2]}} {{result[3]}} style="width:96px;height:120px;"> -->
                    </div>
                    <div class="cardContent">
                        <div class="brand">
                            {{ result[1] }}
                        </div>
                        <div class="medal">
                            🏆
                        </div>
                        <div>
                            <div class="name">
                                {{ result[2] }} {{ result[3] }}
                            </div>
                        </div>
                        <span class="searchLine"></span>
                        <div class="indexdetails">
                            {{ result[7] }}L - {{ result[9] }} std. - {{ result[8] }}%
                        </div>
                        <div>
                            <div class="scorePriceContainer">
                                <div class="score responsive_head" style="white-space: nowrap; display: inline-block;">
                                    &nbsp{{ '%0.0f'| format(result[10] * 100) }}
                                    <div class="sideways">
                                        <img src="/static/images/scoreMaroon.svg"
                                             style="max-height:60%;position:absolute;top: 50%;-webkit-transform:translate(0, -50%);transform:translate(0, -50%);left:0;overflow:visible"
                                             alt="Score">
                                    </div>
                                    <div class="price">
                                        ${{ result[5] }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>

<div id="footer">
    <div id="footerLeft">
        <b>©CompareTheBrew.com, 2019.
    </div>
    <div id="footerRight">
        <form style="display:inline-block;position:absolute;margin-left:-15%"
              action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
            <input type="hidden" name="cmd" value="_donations"/>
            <input type="hidden" name="business" value="LTES4FLSL72YL"/>
            <input type="hidden" name="currency_code" value="AUD"/>
            <input type="image" style="max-height: 25px" src="/static/images/donate.png" border="0" name="submit"
                   title="PayPal - The safer, easier way to pay online!" alt="Donate with PayPal button"/>
            <img alt="" border="0" src="https://www.paypal.com/en_AU/i/scr/pixel.gif" width="1" height="1"/>
        </form>

        Drink responsibly.</b>
    </div>
</div>
<script src="/static/js/fitty.min.js"></script>
<script>
    fitty('.responsive_head', {
        maxSize: 100,
    });
    fitty('.indexdetails', {
        minSize: 6,
    });
    fitty('.name', {
        minSize: 10,
        multiLine: true,
    });
</script>
</body>
</html>
