@font-face {
    font-family: 'louis_george_cafe';
    src: url('louis_george_cafe/louis_george_cafe_bold-webfont.eot');
    src: url('louis_george_cafe/louis_geo/rge_cafe_bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('louis_george_cafe/louis_george_cafe_bold-webfont.woff2') format('woff2'),
         url('louis_george_cafe/louis_george_cafe_bold-webfont.woff') format('woff'),
         url('louis_george_cafe/louis_george_cafe_bold-webfont.ttf') format('truetype'),
         url('louis_george_cafe/louis_george_cafe_bold-webfont.svg#louis_george_cafebold') format('svg');
    font-weight: bold;
    font-style: normal;

}

@font-face {
    font-family: 'louis_george_cafe';
    src: url('louis_george_cafe/louis_george_cafe-webfont.eot');
    src: url('louis_george_cafe/louis_george_cafe-webfont.eot?#iefix') format('embedded-opentype'),
         url('louis_george_cafe/louis_george_cafe-webfont.woff2') format('woff2'),
         url('louis_george_cafe/louis_george_cafe-webfont.woff') format('woff'),
         url('louis_george_cafe/louis_george_cafe-webfont.ttf') format('truetype'),
         url('louis_george_cafe/louis_george_cafe-webfont.svg#louis_george_caferegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

body {
	font-family: 'louis_george_cafe', Arial, sans-serif;
	font-weight: 500;
	font-style: normal;
	font-size: 14px;
	margin: 0;
	padding: 0;
}

.hamburger {
	padding: 1%;
	font-size: 48px;
	color: #722f37;
}

#content {
	
}

.main {
	font-size: 30px;
	position: absolute;
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	margin-bottom: 80px;
}

.mainResults {
	/*margin-top: 100px;*/
	margin-bottom: 80px;
	font-size: 30px;
	position: absolute;
	left: 50%;
	top: 120px;
	-webkit-transform: translate(-50%, 0);
	transform: translate(-50%, 0);
	width: 80%;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
	-webkit-appearance:none;
}

.underline {
	background-color: #cda20b;
	display: inline-block;
	height: 2px;
	transition: height .075s ease-in-out;
	left: 0px;
	margin-top: -4px;
	position: absolute;
	top: 105px;
	width: 100%;
	border-radius: 25px;
}

.smallLine {
	top: 42px;
}

.light {
	padding-top: 65px;
	font-size: 14px;
	color: #a7a7a7;
}

#question {
	font-size: 23px;
	font-weight: 700;
	color: #722f37;
	padding-bottom: 2.1%;
}

#searchDrink {
	border: none;
	background: none;
	display: inline;
	width: 92%;
	font-family: 'louis_george_cafe', Arial, sans-serif;
	font-weight: 500;
	font-style: normal;
	color: #353535;
}

.bigSearch {
	font-size: 44px;
}

.smallSearch {
	font-size: 28px;
}

textarea:focus, input:focus{
    outline: none;
}

#searchDrink:focus + .underline{
	transition: height .075s ease-in-out;
	height: 4px;
}

#options {
	padding-top: 24px;
	font-size: 16px;
	font-weight: bold;
	color: #722f37;
}

.buttons {
	display: inline;
}

.buttonSort {
	border: none;
	padding: 11px;
	padding-left: 20px;
	padding-right: 20px;
	margin-left: 10px;
	font-size: 18px;
 	background-color: #ffdc52;
 	color: #cda20b;
	border-radius: 9px;
}

#priceRange {
	margin-top: 11px;
	font-size: 16px;
	font-weight: bold;
	color: #722f37;
	right:0;
	position: absolute;
	display: inline;
}

#resultsArea {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	padding-top: 60px;
	flex-wrap: wrap;
	flex-direction: row;
}

.resultCard {
	position: relative;
	display: flex;
	align-items: center;
	/*width: 30%;*/
	padding: 10px;
	margin: 15px;
	border-radius: 9px;
	background-color: white;
	box-shadow: 0 5px 13px rgba(0,0,0,0.075), 0 1px 2px rgba(0,0,0,0.22);
  	transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  	overflow: hidden;
}

.resultCard:hover {
  box-shadow: 0 12px 24px rgba(0,0,0,0.13), 0 10px 10px rgba(0,0,0,0.13);
}

.cardImage {
	flex: 0 0 25%;
}

.cardContent {
	flex: 1;
}

.brand {
	font-weight: bold;
	font-size: 1.6vw;
	color: #cda20b;
}

.name {
	font-weight: bolder;
	font-size: 2vw;
	color: #722f37;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
	line-height: 2.2vw;
	padding-bottom: 8px;
	margin-top: -2px;
}

.details {
	font-weight: bolder;
	font-size: 1.4vw;
	color: #a7a7a7;
}

.price {
	font-weight: bolder;
	float: left;
	font-size: 3.8vw;
	color: #cda20b;
}

.score {
	margin-left: 7.5vw;
	font-weight: bolder;
	font-size: 3.8vw;
	color:  #a7a7a7;
}

#footer {
	position: fixed;
	padding: 1%;
 	left: 0;
 	bottom: 0;
 	width: 100%;
 	background-color: #722f37;
 	color: #ffdc52;
}

#footerRight {
	float: right;
	margin-right: 2%;
}

#footerLeft {
	float: left;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #cda20b;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #cda20b;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: #cda20b;
}

::-moz-selection { /* Code for Firefox */
  background: #ffdc52;
}

::selection {
  background: #ffdc52;
}